.eventSlibar{
    text-align: center;
    width: 30%;
}
.eventSlibarImg{
    width: 100%;
}
.eventSlibarImg img{
    width: 100%;
}
.eventSlibar{
    text-align: center;
}
.product{
    width: 100%;
    text-align: center;
}