.wrapper{
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;

}
.wrapper{
    text-align: center;
    display: grid;
    grid-gap: 10px;
}
.top-container{
    text-align: center;
}